Colpatria/Data.Inalambria/Web References/InalambriaAuthService/impwebservicekdc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="soa.inalambria.com" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="soa.inalambria.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="soa.inalambria.com">
      <s:element name="ASGeneratePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="m_sUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="m_sFlag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ASGeneratePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ASGeneratePasswordResult" type="tns:ASResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ASResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ticket" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Flag" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCrypto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCryptoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCryptoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCrypto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCryptoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetCryptoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ASGenerateTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TicketTGS" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ASGenerateTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ASGenerateTicketResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ASResponse" type="tns:ASResponse" />
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ASGeneratePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ASGeneratePassword" />
  </wsdl:message>
  <wsdl:message name="ASGeneratePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ASGeneratePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetCryptoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCrypto" />
  </wsdl:message>
  <wsdl:message name="GetCryptoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCryptoResponse" />
  </wsdl:message>
  <wsdl:message name="SetCryptoSoapIn">
    <wsdl:part name="parameters" element="tns:SetCrypto" />
  </wsdl:message>
  <wsdl:message name="SetCryptoSoapOut">
    <wsdl:part name="parameters" element="tns:SetCryptoResponse" />
  </wsdl:message>
  <wsdl:message name="ASGenerateTicketSoapIn">
    <wsdl:part name="parameters" element="tns:ASGenerateTicket" />
  </wsdl:message>
  <wsdl:message name="ASGenerateTicketSoapOut">
    <wsdl:part name="parameters" element="tns:ASGenerateTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ASGeneratePasswordHttpGetIn">
    <wsdl:part name="m_sUser" type="s:string" />
    <wsdl:part name="m_sFlag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ASGeneratePasswordHttpGetOut">
    <wsdl:part name="Body" element="tns:ASResponse" />
  </wsdl:message>
  <wsdl:message name="GetCryptoHttpGetIn">
    <wsdl:part name="Value" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCryptoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetCryptoHttpGetIn">
    <wsdl:part name="Value" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetCryptoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ASGenerateTicketHttpGetIn">
    <wsdl:part name="TicketTGS" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ASGenerateTicketHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ASGeneratePasswordHttpPostIn">
    <wsdl:part name="m_sUser" type="s:string" />
    <wsdl:part name="m_sFlag" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ASGeneratePasswordHttpPostOut">
    <wsdl:part name="Body" element="tns:ASResponse" />
  </wsdl:message>
  <wsdl:message name="GetCryptoHttpPostIn">
    <wsdl:part name="Value" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetCryptoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetCryptoHttpPostIn">
    <wsdl:part name="Value" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetCryptoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ASGenerateTicketHttpPostIn">
    <wsdl:part name="TicketTGS" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ASGenerateTicketHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ServiceKDCSoap">
    <wsdl:operation name="ASGeneratePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate Password Kerberos AS</wsdl:documentation>
      <wsdl:input message="tns:ASGeneratePasswordSoapIn" />
      <wsdl:output message="tns:ASGeneratePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCrypto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Flag or Ticket AS-TGS With Password</wsdl:documentation>
      <wsdl:input message="tns:GetCryptoSoapIn" />
      <wsdl:output message="tns:GetCryptoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCrypto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set Flag or Ticket AS-TGS With Password</wsdl:documentation>
      <wsdl:input message="tns:SetCryptoSoapIn" />
      <wsdl:output message="tns:SetCryptoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ASGenerateTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate Ticket Kerberos AS</wsdl:documentation>
      <wsdl:input message="tns:ASGenerateTicketSoapIn" />
      <wsdl:output message="tns:ASGenerateTicketSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceKDCHttpGet">
    <wsdl:operation name="ASGeneratePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate Password Kerberos AS</wsdl:documentation>
      <wsdl:input message="tns:ASGeneratePasswordHttpGetIn" />
      <wsdl:output message="tns:ASGeneratePasswordHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCrypto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Flag or Ticket AS-TGS With Password</wsdl:documentation>
      <wsdl:input message="tns:GetCryptoHttpGetIn" />
      <wsdl:output message="tns:GetCryptoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCrypto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set Flag or Ticket AS-TGS With Password</wsdl:documentation>
      <wsdl:input message="tns:SetCryptoHttpGetIn" />
      <wsdl:output message="tns:SetCryptoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ASGenerateTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate Ticket Kerberos AS</wsdl:documentation>
      <wsdl:input message="tns:ASGenerateTicketHttpGetIn" />
      <wsdl:output message="tns:ASGenerateTicketHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceKDCHttpPost">
    <wsdl:operation name="ASGeneratePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate Password Kerberos AS</wsdl:documentation>
      <wsdl:input message="tns:ASGeneratePasswordHttpPostIn" />
      <wsdl:output message="tns:ASGeneratePasswordHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCrypto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Flag or Ticket AS-TGS With Password</wsdl:documentation>
      <wsdl:input message="tns:GetCryptoHttpPostIn" />
      <wsdl:output message="tns:GetCryptoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCrypto">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set Flag or Ticket AS-TGS With Password</wsdl:documentation>
      <wsdl:input message="tns:SetCryptoHttpPostIn" />
      <wsdl:output message="tns:SetCryptoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ASGenerateTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Generate Ticket Kerberos AS</wsdl:documentation>
      <wsdl:input message="tns:ASGenerateTicketHttpPostIn" />
      <wsdl:output message="tns:ASGenerateTicketHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceKDCSoap" type="tns:ServiceKDCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ASGeneratePassword">
      <soap:operation soapAction="soa.inalambria.com/ASGeneratePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCrypto">
      <soap:operation soapAction="soa.inalambria.com/GetCrypto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCrypto">
      <soap:operation soapAction="soa.inalambria.com/SetCrypto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ASGenerateTicket">
      <soap:operation soapAction="soa.inalambria.com/ASGenerateTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceKDCSoap12" type="tns:ServiceKDCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ASGeneratePassword">
      <soap12:operation soapAction="soa.inalambria.com/ASGeneratePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCrypto">
      <soap12:operation soapAction="soa.inalambria.com/GetCrypto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCrypto">
      <soap12:operation soapAction="soa.inalambria.com/SetCrypto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ASGenerateTicket">
      <soap12:operation soapAction="soa.inalambria.com/ASGenerateTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceKDCHttpGet" type="tns:ServiceKDCHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ASGeneratePassword">
      <http:operation location="/ASGeneratePassword" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCrypto">
      <http:operation location="/GetCrypto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCrypto">
      <http:operation location="/SetCrypto" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ASGenerateTicket">
      <http:operation location="/ASGenerateTicket" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceKDCHttpPost" type="tns:ServiceKDCHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ASGeneratePassword">
      <http:operation location="/ASGeneratePassword" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCrypto">
      <http:operation location="/GetCrypto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCrypto">
      <http:operation location="/SetCrypto" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ASGenerateTicket">
      <http:operation location="/ASGenerateTicket" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceKDC">
    <wsdl:port name="ServiceKDCSoap" binding="tns:ServiceKDCSoap">
      <soap:address location="http://soa.inalambria.com/impwebservicekdc.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceKDCSoap12" binding="tns:ServiceKDCSoap12">
      <soap12:address location="http://soa.inalambria.com/impwebservicekdc.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceKDCHttpGet" binding="tns:ServiceKDCHttpGet">
      <http:address location="http://soa.inalambria.com/impwebservicekdc.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceKDCHttpPost" binding="tns:ServiceKDCHttpPost">
      <http:address location="http://soa.inalambria.com/impwebservicekdc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>